
<p> 현재 <%= @post.length %> 명의 사람이 소개팅을 기다립니다.</p>

<form actions='home/new' method='post'>
<button type="submit" class="btn btn-default" name="register" ><a href="/home/new">인연 등록하기</a></button>
</form>
<button type="submit" class="btn btn-default"><a href="/home/list">인연 찾기</a></button>
