<div class = "container">
    <div class ="row">
       
            <form action="regi" method="post">
            <h3>Name</h3>
                <input type="text" name="name" placeholder="이름을 입력해 주세요.">
            <h3>Gender</h3>
                <input type="radio" name="gender" value="1" checked> Male
                <input type="radio" name="gender" value="2"> Female
            <h3>Age</h3>
                <input type="text" name="age" placeholder="나이를 입력해 주세요.">
            <h3>Title</h3>
                <input type="text" name="title" placeholder="제목을 입력해 주세요.">
            <h3>Content</h3>
                <input type="text" name="content" placeholder="내용을 입력해 주세요.">
            <br>
            <br>
                <input type="submit" value="등록하기">
            </form>
        </div>
    </div>
</div>